html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.landscape {      
    margin: 0;                              
    padding: 0;                            
    height: auto;                         
    width: 1710px;  
}

.arrowsign {
    position: absolute;
    top:770px;
    left:1520px;
    height:80px;
    width: auto;
}

.doghouse {
    height:150px;
    width: auto;
    display: block;
}

a[href="index.html"] {
    position: absolute;
    top:630px;
    left:40px;
    display: inline-block;
}

a[href="index.html"]:hover::after {
    content: "back to home";
    position: absolute;
    top: -5px;
    left: 11px;
    padding: 0;
    color: black;
    font-family: pixel;
    font-size: 18px;
    white-space: nowrap;
}

.box {
    display: inline-block;
    position: relative;
    background-color: #477338;
    width: 1710px;
    height: 150px;
    bottom: 1vh;
}

#collar {
    position:absolute;
    transform: rotate(10deg);
    top:830px;
    left:250px;
    height:85px;
    width:auto;
}

#collar:hover {
    animation: collar-wiggle 0.5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes collar-wiggle {
    0%, 100% {
        transform: rotate(-15deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

@font-face {
    font-family: 'pixel';
    src: url('/assets/pixel.ttf')  format('truetype');
  }
#main-paragraph{
    color:rgb(0, 0, 0); 
    font-size:30px; 
    font-family:pixel;
    position:absolute;
    top:60px;
    left:100px;
    }
#paragraphbox{
    color: black;
    font-size: 17px;
    font-family: pixel;
    position: absolute;
    top: 347px;
    left:700px;
    width: 700px;
    }
#info{
    color: whitesmoke;
    font-size: 15px;
    font-family: pixel;
    position: absolute;
    top:300px;
    left:955px;
}

.box2{
    background-color: whitesmoke;
    position: absolute;
    width: 800px;
    height: 275px;
    left: 635px;
    top: 325px;
}

.box3{
    background-color: rgb(23, 23, 23);
    position: absolute;
    width: 800px;
    height: 40px;
    left:635px;
    top:300px
}

.box4{
    background-color: rgb(23, 23, 23);
    position: absolute;
    width:15px;
    height: 275px;
    left:635px;
    top:325px;
}

.box5{
    background-color: rgb(23, 23, 23);
    position: absolute;
    width:15px;
    height: 275px;
    left:1420px;
    top:325px;
}

.box6{
    background-color: rgb(23, 23, 23);
    position: absolute;
    width: 800px;
    height:15px;
    left: 635px;
    top:585px;
}